.job-section{
    background: #F2F4F6;
    width: 100%;
    padding: 2rem 5rem;
}
.job-container{
    display: flex;
    /* padding: 2rem 5rem; */
}
.card-section{
    width: 70%!important;
}
.filter-section{
    width: 30%!important;
    padding-left: 2rem;
}
.job-section p{
    font-size: 12px;
    font-weight: 500;
    padding-left: 2px;
    margin-bottom: 5px;
}
.job-section h3{
    font-size: 15px;
    font-weight: 500;
    padding-left: 2px;
    margin-bottom: 5px;
}
.ant-pagination-item{
    background-color: #fffe;
}
.ant-pagination-item-active a {
    background-color: #1890ff;
    color:#ffff;
}
.ant-pagination-prev{
    display: none;
}
@media(max-width:990px){
    .job-container{
        display: grid;
    }  
    .card-section{
        width: 100%!important;
    }
    .job-section{
        padding:0;
        margin: 0;
    }
    .filter-section{
        width: 100%!important;
        padding: 0;
    }
}